html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    position: relative;
}

/* Showcase */

.showcase::after {
    content: '';
    background: url(img/laptop.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: 1s;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: 1s;
}


.showcase .content {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 34%;
    
    text-align: center;
}

.showcase .content h1 {
    font-size: 3rem;
}

/* Services */
.services {
    text-align: center;
}

.services h1 {
    font-size: 2rem;
}

.grid-3 .grid-items {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}


/* About us */

.about-us {
    background-color: #ccc;
    color: #333;
    text-align: center;
    padding-top: 10px;
}

.about-us h1 {
    font-size: 2rem;
}


.container .grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 3rem;
}


/* Footer */
.bg-dark {
    padding: 2rem;
    text-align: center;
}

/* Utilities */

.text {
    font-size: 1.3rem;
}

.container {
    text-align: center;
    padding: 3rem 0rem 8rem 0rem;
    width: 100%;
}


@media screen and (max-width: 880px) {

    .hide-on-small {
        display: none;
    }

    .showcase .content {
        top: 15%;
        left: 5%;
    }

    .grid-3 .grid-items {
        grid-template-columns: 1fr;
    }

    .grid-items div {
        border-bottom: 1px solid rgb(75, 74, 74);
    }

    .container .grid-2{
        grid-template-columns: 1fr;

    }
}